/* Text Elements */

h1.h1 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

  -webkit-text-stroke-color: #fff;
}

h2.medium-text-center {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

  -webkit-text-stroke-color: #fff;
}

/* Layout Elements */

body.body-2 {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  text-align: center;
  min-height: 50vh;
  background-color: #000;
}

.container.container-1 {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

div.responsive-picture.text-center {
  float: none;
  clear: both;
  text-align: center;
  margin: 24px auto;
}